{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>Money Manager</title>
        
        <!-- Bootstrap -->
        <!-- CSS only -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <!-- JS, Popper.js, and jQuery -->
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>

        <!-- Fullcalendar -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/fullcalendar@5.5.0/main.min.css" integrity="sha256-uq9PNlMzB+1h01Ij9cx7zeE2OR2pLAfRw3uUUOOPKdA=" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/fullcalendar@5.5.0/main.min.js" integrity="sha256-YS9kklqEaLYBFpFsHZhoRQna5D2+RSAi/3V4+fXi9qQ=" crossorigin="anonymous"></script>

        <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    </head>
    <body>
        <div class="container-fluid" id="main_container" style="height: 100%">
            <div class="row" style="height: 100%;">
                <div class="col-3 bg-light border-right" id="sidebar" style="height: 100%;">
                    <br>
                    <div class="row" style="text-align:center;">
                        <button class="btn btn-light" style="font-size: 20px;" id="prev_month">&lt;</button>
                        <input type="month" id="month_display" name="month_display" min="2000-01" max="2100-12" style="font-size: 30px;margin-right: auto; margin-left: auto;">
                        <button class="btn btn-light" style="font-size: 20px;" id="next_month">&gt;</button>
                    </div>
                    <hr>
                    <div class="row" style="margin-top: 10px;" id="summary_container">
                        <div class="col-4" style="text-align: center;">
                            <h4>Expense</h4>
                            <label style="margin-bottom: 0%;" id="expnese">10000000</label>
                        </div>
                        <div class="col-4" style="text-align: center;">
                            <h4>Income</h4>
                            <label style="margin-bottom: 0%;" id="income">10000000</label>
                        </div>
                        <div class="col-4" style="text-align: center;">
                            <h4>Net</h4>
                            <label style="margin-bottom: 0%;" id="net">100000000</label>
                        </div>
                    </div>
                    <hr>
                    <!-- <button id="test" class="btn btn-primary" style="width: 100%;">Click</button> -->
                    <button id="add" class="btn btn-primary" style="width:100%;">Add Transactions</button>
                    <hr>
                    <div id="transactions_container" style="overflow-y: auto; height:60%";></div>
                </div>
                <div class="col" id="calendar"></div>
            </div>
        </div>
        <div class="modal" tabindex="-1" role="dialog" id="add_modal">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Add Transaction</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form>
                            <div class="form-group row">
                                <label for="add_title" class="col-3 col-form-label">Title</label>
                                <div class="col">
                                    <input type="text" class="form-control" id="add_title" placeholder="New Transaction" maxlength="50"/>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="add_description" class="col-3 col-form-label">Description</label>
                                <div class="col">
                                    <input type="text" class="form-control" id="add_description" placeholder="None" />
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="add_amount" class="col-3 col-form-label">Amount</label>
                                <div class="col">
                                    <input type="number" class="form-control" id="add_amount" step='0.01' value='0.01' placeholder='Amount' min="0.01" max="9999.99" />
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="add_type" class="col-3 col-form-label">Type</label>
                                <div class="col">
                                    <select class="form-control">
                                        <option value="expense">Expense</option>
                                        <option value="income">Income</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="add_amount" class="col-3 col-form-label">Date</label>
                                <div class="col">
                                    <input class="form-control" type="date" placeholder="Pick a date" id="add_date" min="2000-01-01" max="2100-12-31"/>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary">Add</button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>

        <script type="text/javascript" src="{% static 'js/globals.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/sidebar.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/calendar.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/index.js' %}"></script>
        <script>
            initTransactions = {{transactions|safe}};
        </script>
    </body>
</html>