html,body {
    height: 100%;
}
p{
    margin: 0px;
}
hr{
    margin-bottom: .75rem;
    margin-top: .75rem;
}
.datepicker {
    z-index: 1600 !important; /* has to be larger than 1050 */
}
.card{
    margin: 10px;
}
.card:hover{
    border-color: blue;
}
.card-header, .card-body{
    padding: .5rem 1rem;
}
.card_title{
    float: left;
}
.card_amount{
    float: right;
}
#summary_container label{
    margin-bottom: 0%;
    font-size: 16px;
}